 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Solution driven iOS engineer with over 3 years of work experience building and timely shipping new features to production. Thrive in working in a fast paced, high-tech environment with cross-functional teams using agile methodology</p>
                </div>
                <div class="col-lg-4">
                    <p>Precision in building user interface and writing a new module from scratch following appropriate architectural approach. Aim to be productive by engaging in high level design discussions and estimating development effort</p>
                </div>
            </div>
        </div>
    </section>
